<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Seller</th>
    <th>Unit</th>
    <th>Minimum Unit</th>
    <th>Availabel Unit</th>
    <th>Image</th>
  </tr>
  {{#each items}}
    <tr>
      {{! <th>this.name</th> }}
      {{! <th><img src="this.img.data" /></th> }}
      <td>{{this.name}}</th>
      <td>{{this.category.name}}</th>
      <td>{{this.sellPrice}}</th>
      <td>{{this.seller.fullName}}</th>
      <td>{{this.unit}}</th>
      <td>{{this.minimumUnit}}</th>
      <td>{{this.availableUnit}}</th>
      <td><img src = "data:image/{{this.image.img.contentType}};base64,{{this.image.img.data.toString('base64')}}"></td>
    </tr>
  {{/each}}
</table>